body{
    max-width: 100vw;
}
div#header{
    width:100vw;
    height: 10vh;
    background-color: #fafafa;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #8b79ab;
    font-family: 'Playfair Display', serif;
    color: #8b79ab;
    margin: 0;
}
div#header > h1 {
    font-size: 2em;
}
div#header > h2 {
    font-size: 1.2em;
}
a.btn-header.btn.btn-light {
    border: 1px solid #8b79ab;
}
div#ferragne, div#simonnot{
    width: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    height:65vh;
}
div.bio-container{
    padding: 0;
}
div.bio-overlay{
    transition: 0.5s ease-in-out;
    backdrop-filter: saturate(0%);
    width: 100%;
    height: 100%;
    position:relative;
    z-index: 0;
}
div.bio-overlay:hover{
    transition: 0.5s ease-in-out;
    backdrop-filter: saturate(100%);
}
div#ferragne:hover, div#simonnot:hover, div#terrain:hover{
    backdrop-filter: saturate(100%);
}
div#ferragne{
    background-image: url('bg-F.jpeg');
    left: 0;
}
div#simonnot{
    background-image: url('bg-S.jpeg');
    left: 0;
}
div#terrain{
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    transition: filter 0.5s ease-in-out;
    background-image: url('bg-terrain.png');
    height:25vh;
    left: 0;
    background-position: 30%;
}
.image-bio-ombres{
    position:relative;
    left: 30%;
    width: fit-content;
}
.image-bio{
    position: relative;
    max-height: 300px;
    border: 20px #fff solid;
}
.image-bio-ombres:before, .image-bio-ombres:after{
	content: " ";
	position: absolute;
	width: 50%;
	height: 50px;
    margin-top: 250px;
	z-index: -10;
}
.image-bio-ombres:before {
	left: 5px;
    top: -5px;
	transform: rotate(-5deg);
	box-shadow: 7px 6px 15px #000;
}
.image-bio-ombres:after {
	right: 5px;
    top: -5px;  
	transform: rotate(5deg);
	box-shadow: -7px 6px 15px #000;
}

.image-bio-container {
    padding-top: 25vh;
}
#ferragne .image-bio-ombres{
    transform: rotate(-2deg);
    transition: ease-in-out 0.5s;
}
#ferragne .image-bio-ombres:hover{
    transform: rotate(2deg);
    transition: ease-in-out 0.5s;
}
#simonnot .image-bio-ombres{
    transform: rotate(4deg);
    transition: ease-in-out 0.5s;
}
#simonnot .image-bio-ombres:hover{
    transform: rotate(-4deg);
    transition: ease-in-out 0.5s;
}
div.post-it {
    position: relative;
    width:fit-content;
    margin: auto;
    margin-top: 20px;
    background: #ffed88; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffed88 81%, #ffed88 82%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffed88), color-stop(82%,#ffed88), color-stop(82%,#ffed88), color-stop(100%,#ffecc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffed88 81%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffed88 81%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffed88 81%); /* IE10+ */
    background: linear-gradient(135deg, #ffed88 81%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed88', endColorstr='#ffecc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
    padding: .5em 1em;
    z-index: 100;
}
#ferragne div.ombre-single{
    transform: rotate(-3deg);
    transition: ease-in-out 0.5s;
}
#simonnot div.ombre-single{
    transform: rotate(1deg);
    transition: ease-in-out 0.5s;
}
div.ombre-single:hover{
    transform: rotate(+2deg)!important;
    transition: ease-in-out 0.5s;
}
span.nom, span.poste {
    display: block;
    width: 100%;
    text-align: center;
}
span.nom{
    text-transform: uppercase;
    font-weight: 600;
}
span.poste{
    font-weight: 250;
}
.ombre-single{
    position: relative;
    width:fit-content;
    margin:auto;
}
.ombre-single::after {
	content: " ";
	position: absolute;
    top: 10px;
	left: 8px;
	width: 30px;
	height: calc(100% - 20px);
    z-index: -100;
	
	box-shadow: -7px 0 10px #000000;
	transform: rotate(-5deg);
}